# Stop dance for galera arbitrator in docker
# =======================
#
# https://galeracluster.com/library/documentation/arbitrator.html
#
[Unit]
Description=Galera Arbitrator service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory={{ compose_dir }}

ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
