# Stop dance for nginx
# =======================
#
# nginx signals reference doc:
# http://nginx.org/en/docs/control.html
#
[Unit]
Description=Nginx service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory={{ compose_dir }}

ExecStart=/usr/local/bin/docker-compose up
ExecReload=/usr/local/bin/docker-compose exec -d nginx nginx -g 'daemon off; master_process on;' -s reload
ExecStop=/usr/local/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
